# --- Resource handling ---

# This only applies if you're using git as a version control system.

# If you're using the bin/www folder as the location of your resource files (images, css, javascript etc.)
# then these two lines will enable git version control for all files except the compiled ones:
bin/www/index.php
bin/www/lib

# An alternative location for resources is the "src/haxigniter/application/resources" directory.
# If that dir exists, the content will be copied to bin/www when building, so if you're using that instead 
# you don't need any files in the bin/www folder to be under version-control.
#
# To use this alternative, uncomment the following line:
#bin/www

# --- End of resource handling ---

# In case apache log files are put in a logs directory:
logs/*
